@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Email:</strong>   <a href="felipevillani.2000@hotmail.com">felipevillani.2000@hotmail.com</a><br />
</address>